doctype 5
html
  head
    title Cats Galore
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css')
  body
    .container.row.offset1.span10
      h1 #{title || "Some Cats"}

      
      if (typeof message != 'undefined')
        .alert.alert-success #{message}
      if (typeof error != 'undefined')
        .alert.alert-error #{error}
      if (typeof warning != 'undefined')
        .alert.alert-info #{warning}
      
      block content

      a(class="button btn", href="/cats") By Age
      a(class="button btn", href="/cats/color/beige") Only Beige!
      a(class="button btn btn-primary offset1", href="/cats/new") Create a Cat
      a(class="button btn btn-danger offset1", href="/cats/delete/old") Delete a Cat